.TimelineNode-Editor {
	height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: row;
}

.TimelineNode-Editor-Container {
	height: 100%;
	width: 100%;
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.TimelineNode-Editor-Content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.TimelineNode-Editor-Header {
	display: flex;
	width: 95%;
}

.TimelineNode-Editor-Sheet {
	overflow-y: auto;
	overflow-x: scroll;
	flex-grow: 1;
}

.TimelineNode-Editor-Dragger {
	height: 100%;
	width: 8px;
	min-width: 8px;
	flex-basis: 8px;
	cursor: col-resize;
	border-left: 1px solid #aaa;
}

.TimelineNode-Editor-Close-Handle-Container {
	display: none;
    top: 50%;
    position: fixed;
}

.TimelineNode-Editor-Dragger:hover .TimelineNode-Editor-Close-Handle-Container{
    display: inline-block;
}

.Trial-Form-Item-Container {
	width: 95%;
	display: flex;
	align-items: baseline;
	margin: 0 auto;
}

.Trial-Form-Item-Field-Container {
	flex-grow: 1;
	align-items: baseline;
}

.Trial-Form-Item-Tool-Container {
	float: right;
	flex-basis: 96px;
	align-items: baseline;
	display: flex;
}

/* *********************************************** */

.Trial-Form-Label-Container {
	flex-basis: 25%;
	word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    text-align: left;
}


.Trial-Form-Content-Container {
	flex-grow: 1;
    display: flex;
}