.TimelineNode-Editor-Dragger:hover .TimelineNode-Editor-Close-Handle-Container{
    display: inline-block;
}

.Trial-Form-Item-Container {
	width: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin: 0 auto;
}

.Trial-Form-Item-Field-Container {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.Trial-Form-Item-Tool-Container {
	float: right;
	-ms-flex-preferred-size: 96px;
	    flex-basis: 96px;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* *********************************************** */

.Trial-Form-Label-Container {
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;
	word-wrap: break-word;     
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;      
    text-align: left;
}


.Trial-Form-Content-Container {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}