html, body {
   height: 100%;
   overflow: hidden
}

#container {
    width: 100%;
    height: 100%;
}

.Responsive-input::-webkit-outer-spin-button,
.Responsive-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.Responsive-input {
	-moz-appearance:textfield;
}

.react-context-menu {
    min-width: 160px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    max-height: 425px;
    overflow-y: auto;
}

.truncate-long-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

